<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<base href="/">
	<title>Destructoid Article Scraper</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../public/css/style.css" />"
</head>

<header>
	<h1 class="jumbotron" "bg-dark">
		Video Game News Articles
	</h1>
</header>

<body>
	{{{ body }}}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../../public/js/app.js"></script>

</body>

</html>