<article id="{{_id}}">

    <header class="row">
        <h2 class="title col">{{headline}}</h2>
    </header>

    <div class="row">
        <p class="col summary">
            {{summary}}
        </p>

        <div class="col-2">
            <button class="view-comments">
            </button>
        </div>

    </div>

    {{#if saved}}
    <button class="delete-article">Remove</button>
    {{#else}}
    <button class="add-article">Save</button>
    {{/if}}
</article>